.hero {
  padding-bottom: 36px;
  position: relative;
  background-image: url("../img/hero-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -200px center;
  color: $text--white;
}

@media (min-width: $bpt--md) {
  .hero {
    padding-bottom: 66px;
    background-position: left -200px center;
  }
}

@media (min-width: $bpt--lg) {
  .hero {
    background-position: left -100px center;
  }
}

@media (min-width: $bpt--xl) {
  .hero {
    background-position: left center;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bkg--black;
  opacity: 0.79;
  z-index: 10;
}

.hero__title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Montserrat-Bold", sans-serif;
  text-align: center;
  font-size: $text--28;
  z-index: 11;
}

@media (min-width: $bpt--md) {
  .hero__title {
    margin-top: 50px;
    font-size: $text--38;
    text-align: left;
  }
}
