.main__sort {
  padding: 37px 0;
  display: flex;
}

// Doesn't work on IE 11
// .main__content {
//   display: grid;
//   grid-template-columns: $card-width--default;
//   gap: $card-gap--default;
//   grid-row-gap: $card-gap--lg;
//   align-items: start;
// }

// @media (min-width: $bpt--md) {
//   .main__content {
//     grid-row-gap: $card-gap--default;
//   }
// }

// @media (min-width: $bpt--lg) {
//   .main__content {
//     gap: $card-gap--lg;
//   }
// }

// @media (min-width: $bpt--xxl) {
//   .main__content {
//     grid-template-columns: $card-width--xxl;
//   }
// }

// Added min-wdith=100% and max-width=100-50-33% for IE 11 support
.main__content {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  width: 100%;
}

.main__content > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: $bpt--md) {
  .main__content > * {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: $bpt--lg) {
  .main__content > * {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: $bpt--xl) {
  .main__content > * {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.3333333333333333333%;
    max-width: 33.3333333333333333333%;
  }
}
