.container {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $bpt--sm) {
  .container {
    max-width: $container--sm;
  }
}
@media (min-width: $bpt--md) {
  .container {
    max-width: $container--md;
  }
}
@media (min-width: $bpt--lg) {
  .container {
    max-width: $container--lg;
  }
}
@media (min-width: $bpt--xl) {
  .container {
    max-width: $container--xl;
  }
}
@media (min-width: $bpt--xxl) {
  .container {
    max-width: $container--xxl;
  }
}
