.btn-bars {
  display: inline-block;
  margin-left: auto;
}

@media (min-width: $bpt--md) {
  .btn-bars {
    display: none;
  }
}

.btn-bars:active {
  transform: translateY(2px);
}

.btn-bars__img {
  width: 25px;
}
