.btn-seemore {
  display: none;
  max-width: 380px;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  border: 1px solid $btn-secondary;
  border-radius: $brad--10;
  font-size: $text--14;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn-seemore:hover {
    background-color: $btn-secondary;
  }
}

.btn-seemore:active {
  background-color: $btn-secondary--dark;
  border: 1px solid $btn-secondary--dark;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .btn-seemore:hover {
    background-color: $btn-secondary;
  }

  .btn-seemore:active {
    background-color: $btn-secondary--dark;
    border: 1px solid $btn-secondary--dark;
  }
}

.btn-seemore.active {
  display: block;
}

.btn-seemore__container {
  width: 100%;
  margin-top: 68px;
  margin-bottom: 63px;
}

@media (min-width: $bpt--md) {
  .btn-seemore__container {
    margin-bottom: 78px;
  }
}

@media (min-width: $bpt--md) {
  .btn-seemore__container {
    margin-bottom: 73px;
  }
}
