.btn-topscroll {
  position: fixed;
  display: none;
  margin-right: 15px;
  width: $btn-topscroll-size--mobile;
  height: $btn-topscroll-size--mobile;
  right: 0;
  bottom: 50px;
  background-color: $btn-primary;
  transition: $btn-transition;
  z-index: 100;
  opacity: 1;
  box-shadow: $nav-shadow;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn-topscroll:hover {
    background-color: $btn-primary--light;
  }
}

.btn-topscroll:active {
  background-color: $btn-primary--dark;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .btn-topscroll:hover {
    background-color: $btn-primary--light;
  }

  .btn-topscroll:active {
    background-color: $btn-primary--dark;
  }
}

@media (min-width: $bpt--sm) {
  .btn-topscroll {
    width: $btn-topscroll-size--desktop;
    height: $btn-topscroll-size--desktop;
    right: auto;
    left: 50%;
    margin-right: 0;
    transform: translateX($btn-topscroll-transform--sm);
  }
}
@media (min-width: $bpt--md) {
  .btn-topscroll {
    transform: translateX($btn-topscroll-transform--md);
  }
}
@media (min-width: $bpt--lg) {
  .btn-topscroll {
    transform: translateX($btn-topscroll-transform--lg);
  }
}
@media (min-width: $bpt--xl) {
  .btn-topscroll {
    transform: translateX($btn-topscroll-transform--xl);
  }
}
@media (min-width: $bpt--xxl) {
  .btn-topscroll {
    transform: translateX($btn-topscroll-transform--xxl);
  }
}

.btn-topscroll::after {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  padding: 4px;
  transform: translate(-50%, -25%) rotate(-135deg);
  content: "\A";
  border: solid $bkg--white;
  border-width: 0 2px 2px 0;
}

@media (min-width: $bpt--sm) {
  .btn-topscroll::after {
    border-width: 0 3px 3px 0;
    padding: 5px;
  }
}

.btn-topscroll.active {
  display: block;
}
