@media (min-width: $bpt--md) {
  .logo {
    margin-right: 40px;
  }
}

@media (min-width: $bpt--lg) {
  .logo {
    margin-right: 120px;
  }
}

.logo__img {
  width: 75%;
}

@media (min-width: $bpt--sm) {
  .logo__img {
    width: 100%;
  }
}
