.card {
  position: relative;
  // Doesn't work on IE 11
  // display: grid;
  display: flex;
  flex-direction: column;
  background-color: $bkg-card;
  border-radius: 0 0 $brad--10 $brad--10;
}

.card__wrap {
  padding-bottom: 20px;
}

@media (min-width: $bpt--md) {
  .card__wrap {
    padding: 5px;
  }
}

@media (min-width: $bpt--lg) {
  .card__wrap {
    padding: 10px;
  }
}

.card__like-container {
  position: absolute;
  right: $card-padding;
  top: $card-padding;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.card__like {
  opacity: 0.5;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .card__like:hover {
    opacity: 0.75;
  }
}

.card__like:active {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .card__like:hover {
    opacity: 0.75;
  }

  .card__like:active {
    opacity: 1;
  }
}

.card__like.active {
  opacity: 1;
}

.card__like-message {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: $bkg--dark;
  font-family: "Montserrat-Bold", sans-serif;
  color: $text--white;
  z-index: 15;
  opacity: 0.9;
  user-select: none;
  transition: $notification-transition;
}

.card__like-message.show {
  height: 100px;
}

.card__discount {
  position: absolute;
  left: $card-padding;
  top: $card-padding;
  padding: 10px 20px;
  background-color: $danger;
  border-radius: $brad--10;
  color: $text--white;
  user-select: none;
}

// Added inline style=background-iamge and fixed height for IE support
.card__img {
  width: 100%;
  height: 300px;
  max-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $bpt--sm) {
  .card__img {
    height: 350px;
  }
}
@media (min-width: $bpt--md) {
  .card__img {
    height: 230px;
  }
}
@media (min-width: $bpt--lg) {
  .card__img {
    height: 308px;
  }
}
@media (min-width: $bpt--xl) {
  .card__img {
    height: 240px;
  }
}
@media (min-width: $bpt--xxl) {
  .card__img {
    height: 280px;
  }
}

.card__title,
.card__price,
.card__group {
  margin-left: $card-padding;
  margin-right: $card-padding;
}

.card__title,
.card__price {
  font-family: "Montserrat-Bold", sans-serif;
}

.card__title {
  padding-top: 28px;
  padding-bottom: 24px;
}

.card__price {
  padding-top: 16px;
  padding-bottom: 29px;
}

.card__group {
  display: flex;
  justify-content: space-between;
  border-left: 4px solid $btn-primary;
  font-size: $text--12;
}

.card__color {
  max-width: 130px;
  padding-left: 18px;
}

.card__age span,
.card__paws span {
  display: block;
  font-family: "Montserrat-Bold", sans-serif;
}

.card__btn {
  width: 100%;
  height: 65px;
  align-self: flex-end;
  background-color: $btn-primary;
  border-radius: 0 0 $brad--10 $brad--10;
  font-family: "Montserrat-Bold", sans-serif;
  color: $text--white;
  transition: $btn-transition;
}

.card__btn[disabled],
.card__btn:disabled {
  background-color: $bkg--dark;
  pointer-events: none;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .card__btn:hover {
    background-color: $btn-primary--light;
  }
}

.card__btn:active {
  background-color: $btn-primary--dark;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .card__btn:hover {
    background-color: $btn-primary--light;
  }

  .card__btn:active {
    background-color: $btn-primary--dark;
  }
}

.cards__info {
  text-align: center;
  display: none;
}

.cards__info.active {
  display: block;
}
