.header {
  position: relative;
  padding-top: 20px;
  display: flex;
  align-items: center;
  z-index: 20;
}

@media (min-width: $bpt--md) {
  .header {
    padding-top: 40px;
  }
}

.header__info {
  margin-left: 0;
  display: inline-block;
}

@media (min-width: $bpt--sm) {
  .header__info {
    margin-left: 20px;
  }
}

@media (min-width: $bpt--md) {
  .header__info {
    margin-left: auto;
  }
}

.header__info span {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: $text--18;
}

@media (min-width: $bpt--sm) {
  .header__info span {
    font-size: $text--24;
  }
}

.header__info p {
  margin: 0;
  font-size: $text--14;
}

@media (min-width: $bpt--md) {
  .header__info p {
    text-align: right;
  }
}

@media (min-width: $bpt--sm) {
  .header__info p {
    font-size: $text--18;
  }
}
