.footer {
  width: 100%;
  padding: 30px 0 45px;
  background-color: $bkg--dark;
  color: $text--white;
}

@media (min-width: $bpt--md) {
  .footer {
    padding: 60px 40px;
  }
}

@media (min-width: $bpt--lg) {
  .footer {
    padding: 90px 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $bpt--xl) {
  .footer {
    max-width: $footer--xl;
    margin-bottom: 114px;
  }
}

@media (min-width: $bpt--xxl) {
  .footer {
    max-width: $footer--xxl;
  }
}

.footer--margin {
  margin-top: 130px;
}
