.sort__title {
  margin-right: 10px;
  font-family: "Montserrat-Bold", sans-serif;
}

@media (min-width: $bpt--md) {
  .sort__title {
    margin-right: 48px;
    font-size: $text--18;
  }
}

.sort__btns {
  display: flex;
}

.sort__item:last-child {
  margin-left: 15px;
}

@media (min-width: $bpt--md) {
  .sort__item:last-child {
    margin-left: 55px;
  }
}

.sort__btn {
  position: relative;
  padding-right: 20px;
  border-bottom: 2px solid transparent;
  transition: $link-transition;
}

@media (min-width: $bpt--md) {
  .sort__btn {
    padding-right: 25px;
    font-size: $text--18;
  }
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .sort__btn:hover {
    border-bottom: 2px solid $text--black;
  }
}

.sort__btn:active {
  border-bottom: 2px solid $text--black;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .sort__btn:hover {
    border-bottom: 2px solid $text--black;
  }

  .sort__btn:active {
    border-bottom: 2px solid transparent;
  }
}

// Incorrect render in IE 11
// .sort__btn::after {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   display: inline-block;
//   padding: 4px;
//   transform: translate(0, -75%) rotate(45deg);
//   content: "\A";
//   border: solid $text--black;
//   border-width: 0 2px 2px 0;
// }

// .sort__btn.active {
//   &::after {
//     transform: translate(0, -25%) rotate(-135deg);
//   }
// }

.sort__btn--after {
  position: absolute;
  top: 50%;
  right: 5px;
  display: inline-block;
  padding: 4px;
  transform: translate(0, -75%) rotate(45deg);
  content: "\A";
  border: solid $text--black;
  border-width: 0 2px 2px 0;
}

.sort__btn.active {
  .sort__btn--after {
    transform: translate(0, -25%) rotate(-135deg);
  }
}
