.cta {
  display: flex;
  flex-direction: column;
}

@media (min-width: $bpt--md) {
  .cta {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cta__title {
  margin-bottom: 10px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: $text--30;
  text-align: center;
}

@media (min-width: $bpt--md) {
  .cta__title {
    margin-bottom: 18px;
    font-size: $text--38;
    text-align: left;
  }
}

@media (min-width: $bpt--lg) {
  .cta__title {
    margin-bottom: 26px;
    font-size: $text--48;
  }
}

.cta__subtitle {
  font-size: $text--18;
  text-align: center;
}

@media (min-width: $bpt--md) {
  .cta__subtitle {
    max-width: 220px;
    font-size: $text--20;
    text-align: left;
  }
}

@media (min-width: $bpt--lg) {
  .cta__subtitle {
    max-width: 320px;
    font-size: $text--28;
  }
}

.cta__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (min-width: $bpt--md) {
  .cta__form {
    margin-top: 0;
    width: 50%;
  }
}

@media (min-width: $bpt--xl) {
  .cta__form {
    width: auto;
  }
}

.cta__form-group {
  display: flex;
  flex-direction: column;
}

@media (min-width: $bpt--xl) {
  .cta__form-group {
    flex-direction: row;
  }
}

.cta__form-email {
  width: 100%;
  height: 55px;
  padding: 0 23px;
  border: 1px solid transparent;
  border-radius: $brad--10;
  font-size: $text--14;
}

@media (min-width: $bpt--xl) {
  .cta__form-email {
    width: 300px;
    height: 65px;
    padding: 0 33px;
  }
}

.cta__form-email--success {
  border: 3px solid $btn-primary;
}

.cta__form-email--error {
  border: 3px solid $danger;
}

.cta__message {
  padding-top: 10px;
  display: none;
  font-size: $text--14;
  color: $danger;
}

// .card__message::-webkit-selection {
//   color: $text--white;
// }

// .card__message::selection {
//   color: $text--white;
// }

.cta__message.active {
  display: block;
}

.cta__form-btn {
  margin-top: 10px;
  height: 55px;
  border-radius: $brad--10;
  background-color: $btn-primary;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: $text--14;
  color: $text--white;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .cta__form-btn:hover {
    background-color: $btn-primary--light;
  }
}

.cta__form-btn:active {
  background-color: $btn-primary--dark;
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .cta__form-btn:hover {
    background-color: $btn-primary--light;
  }

  .cta__form-btn:active {
    background-color: $btn-primary--dark;
  }
}

@media (min-width: $bpt--xl) {
  .cta__form-btn {
    width: 250px;
    height: 65px;
    margin-left: 16px;
    margin-top: 0;
  }
}

.cta__checkbox-group {
  margin-top: 24px;
}

.cta__checkbox-group label {
  position: relative;
  padding-left: 35px;
}

.cta__checkbox {
  visibility: hidden;
}

.cta__markbox {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: $btn-primary;
  border-radius: 3px;
  user-select: none;
}

.cta__checkbox-group:hover input ~ .cta__markbox {
  background-color: $btn-primary--light;
}

.cta__checkbox-group input:active ~ .cta__markbox {
  background-color: $btn-primary--dark;
}

.cta__checkbox-group input:checked ~ .cta__markbox {
  background-color: $btn-primary;
}

.cta__markbox:after {
  position: absolute;
  display: none;
  content: "";
}

.cta__checkbox-group input:checked ~ .cta__markbox:after {
  display: block;
}

.cta__checkbox-group .cta__markbox:after {
  width: 5px;
  height: 10px;
  left: 7px;
  bottom: 5px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
}
