//- Mixins
mixin navMenu(navItem)
  li(class=navItem.itemClass)
    a(href=navItem.href class=navItem.linkClass)=navItem.text

mixin card(cardItem)
  .card__wrap
    article.card
      if cardItem.discount
        .card__discount=cardItem.discountPrice
      button.card__like
        img(src="./img/like.svg")
      //- img.card__img(src="./img/cat_1.png")
      .card__img(style="background-image: url('./img/cat_1.png')")
      h2.card__title=cardItem.title
      .card__group
        .card__color=cardItem.color
        .card__age
          span=cardItem.age
          | Возраст
        .card__paws
          span=cardItem.paws
          | Кол-во лап
      h2.card__price=cardItem.price
      if cardItem.disabled
        button.card__btn(disabled) Продан
      else
        button.card__btn Купить

doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Котики
  body 
    section.hero#top
      .hero__overlay
      .container
        header.header
          .logo
            img.logo__img(src="./img/logo.svg")
          - let menuLinks = [];
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Main"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Gallery"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "News"});
          - menuLinks.push({itemClass: "nav__menu-item", linkClass: "nav__menu-link", href: "#", text: "Profile"});
          ul.nav__menu#nav__menu
            each menuLink in menuLinks
              +navMenu(menuLink)
          .header__info
            span +544 3490 00000
            p Звони скорее!
          button.btn-bars#btn-bars
            img.btn-bars__img(src="./img/bars.svg")
          a.btn-topscroll#btn-topscroll(href="#top")
        h1.hero__title#hero__title Найдено 349 котов
    main.main
      .container
        .main__sort
          span.sort__title Сортировать по:
          ul.sort__btns
            li.sort__item
              button.sort__btn#sort__price Цене
                .sort__btn--after
            li.sort__item
              button.sort__btn#sort__age Возрасту
                .sort__btn--after
        .main__content#cards-container
          //- - const cards = [];
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: true, discountPrice: "-40%"});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: true, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: false});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: false, discount: true, discountPrice: "-40%"});
          //- - cards.push({title: "Кот полосатый", color: "Коричневый окрас", age: "2 мес.", paws: "4", price: "30 000 руб.", disabled: true, discount: false});
          //- each card in cards
          //-   +card(card)
        .btn-seemore__container#viewmore__container
          p.cards__info#cards__info Котиков больше нет :&#x28;
          button.btn-seemore.active#viewmore Показать ещё
    footer.footer#footer
      .container
        .cta
          .cta__content
            h1.cta__title Успей купить!
            p.cta__subtitle Подпишись и успей словить все акции
          form.cta__form
            .cta__form-group
              .input__group
                input.cta__form-email#cta__form-email(type="email" placeholder="Email" name="email")
                small.cta__message#cta__message
              input.cta__form-btn#cta__form-btn(type="submit" value="Подписаться")
            .cta__checkbox-group
              label(for="cta__form-checkbox") Подписаться на новости
                input.cta__checkbox#cta__checkbox(type="checkbox" checked="checked")
                span.cta__markbox#cta__markbox
      

