// html,
// body {
//   scroll-behavior: smooth;
// }

body {
  display: flex;
  flex-direction: column;
  background-color: $bkg--white;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: $text--default;
  color: $bkg--black;
}

::-webkit-selection {
  background: $btn-primary;
}

::selection {
  background: $btn-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button,
input {
  &:focus {
    outline: none;
  }
}

input {
  border: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
