// Breakpoints
$bpt--sm: 576px;
$bpt--md: 768px;
$bpt--lg: 992px;
$bpt--xl: 1200px;
$bpt--xxl: 1400px;

// Colors
// Text
$text--black: #000000;
$text--white: #ffffff;

// Backgrounds
$bkg--white: #ffffff;
$bkg--black: #000000;
$bkg--dark: #1f2021;
$bkg-card: #f3f3f3;

// Accents
$btn-primary: #6ebbd3;
$btn-primary--light: lighten($btn-primary, 5%);
$btn-primary--dark: darken($btn-primary, 10%);

$btn-secondary: #cacaca;
$btn-secondary--dark: darken($btn-secondary, 10%);

$danger: #e52d2d;

// Typography
$text--default: 16px;
$text--12: 0.75em;
$text--14: 0.875em;
$text--18: 1.125em;
$text--20: 1.25em;
$text--24: 1.5em;
$text--28: 1.75em;
$text--30: 1.875em;
$text--38: 2.375em;
$text--48: 3em;

// Border Radius
$brad--10: 10px;
$brad--15: 15px;

// Shadows
$nav-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);

// Positioning and Width
// Container
$container-padding: 15px;
$container--sm: 540px;
$container--md: 720px;
$container--lg: 960px;
$container--xl: 1140px;
$container--xxl: 1320px;

// Topscroll button width and height
$btn-topscroll-size--mobile: 39px;
$btn-topscroll-size--desktop: 59px;

// Topscroll button position
$btn-topscroll-transform--sm: calc(
  ($bpt--sm / 2) - $btn-topscroll-size--desktop - $container-padding
);
$btn-topscroll-transform--md: calc(
  ($bpt--md / 2) - $btn-topscroll-size--desktop - $container-padding
);
$btn-topscroll-transform--lg: calc(
  ($container--lg / 2) - $btn-topscroll-size--desktop - $container-padding
);
$btn-topscroll-transform--xl: calc(
  ($container--xl / 2) - $btn-topscroll-size--desktop - $container-padding
);
$btn-topscroll-transform--xxl: calc(
  ($container--xxl / 2) - $btn-topscroll-size--desktop - $container-padding
);

// Doesn't work on IE 11
// Card width
// $card-width--default: repeat(auto-fit, minmax(300px, 1fr));
// $card-width--xxl: repeat(auto-fit, minmax(380px, 1fr));

// Card gap
$card-gap--default: 20px;
$card-gap--md: 10px;
$card-gap--lg: 20px;

// Card padding
$card-padding: 29px;

// Footer Width
$footer--xl: 1110px;
$footer--xxl: 1290px;

// Transitions
$btn-transition: all 0.1s cubic-bezier(0.99, 0.03, 0.68, 0.93);
$link-transition: all 0.1s ease-in;
$notification-transition: all 0.2s ease;
