/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Tablet: 768px
    - Desktop: 1440px
  * Typography
    - Font size: 18px
*/

@import "./_normalize.scss";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_base.scss";
@import "./container/container.scss";
@import "./hero/hero.scss";
@import "./header/header.scss";
@import "./logo/logo.scss";
@import "./nav/nav.scss";
@import "./btn/_btn-bars.scss";
@import "./btn/btn-topscroll.scss";
@import "./main/main.scss";
@import "./sort/sort.scss";
@import "./card/card.scss";
@import "./btn/btn-seemore.scss";
@import "./footer/footer.scss";
@import "./cta/cta.scss";
