.nav__menu {
  position: absolute;
  max-width: 420px;
  display: none;
  justify-content: center;
  flex-direction: column;
  top: 80px;
  left: 50%;
  right: 0;
  padding: 30px;
  width: 100%;
  transform: translateX(-50%);
  background-color: $bkg--white;
  border-radius: $brad--15 0 $brad--15 $brad--15;
  box-shadow: $nav-shadow;
  z-index: 30;
}

@media (min-width: 450px) {
  .nav__menu {
    border-radius: $brad--15;
  }
}

@media (min-width: $bpt--sm) {
  .nav__menu {
    top: 95px;
  }
}

@media (min-width: $bpt--md) {
  .nav__menu {
    max-width: none;
    width: auto;
    position: static;
    display: inline-flex;
    justify-content: normal;
    flex-direction: row;
    margin: 0;
    padding: 0;
    transform: none;
    background: transparent;
    box-shadow: none;
  }
}

.nav__menu::before {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  content: "\A";
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $bkg--white transparent;
}

@media (min-width: 450px) {
  .nav__menu::before {
    top: 0;
    content: "";
    border: none;
  }
}

.nav__menu-item {
  text-align: center;
  padding: 5px 0;
}

@media (min-width: $bpt--md) {
  .nav__menu-item {
    margin: 0 15px;
  }

  .nav__menu-item:first-child {
    margin-left: 0;
  }

  .nav__menu-item:last-child {
    margin-right: 0;
  }
}

.nav__menu-link {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 16px;
  color: $text--black;
  text-decoration: none;
  transition: $link-transition;
  cursor: pointer;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .nav__menu-link:hover {
    border-bottom: 1px solid $text--black;
    color: $text--black;
  }
}

.nav__menu-link:focus {
  color: $text--black;
}

.nav__menu-link:active {
  border-bottom: 1px solid $text--black;
  color: $text--black;
}

@media all and (-ms-high-contrast: none) {
  // Active effect for IE 11
  .nav__menu-link:active {
    border-bottom: 1px solid transparent;
    color: $text--black;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .nav__menu-link:hover {
    border-bottom: 1px solid $text--black;
    color: $text--black;
  }

  .nav__menu-link:active {
    border-bottom: 1px solid transparent;
    color: $text--black;
  }
}

@media (min-width: $bpt--md) {
  .nav__menu-link {
    text-transform: capitalize;
    font-size: $text--18;
    color: $text--white;
  }

  @media all and (-ms-high-contrast: none) {
    // Hover effect for IE 11
    .nav__menu-link:hover {
      border-bottom: 1px solid $text--white;
      color: $text--white;
    }
  }

  .nav__menu-link:focus {
    color: $text--white;
  }

  .nav__menu-link:active {
    border-bottom: 1px solid $text--white;
    color: $text--white;
  }

  @media all and (-ms-high-contrast: none) {
    // Active effect for IE 11
    .nav__menu-link:active {
      border-bottom: 1px solid transparent;
      color: $text--white;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    // Hover effect for modern browsers
    .nav__menu-link:hover {
      border-bottom: 1px solid $text--white;
      color: $text--white;
    }

    .nav__menu-link:active {
      border-bottom: 1px solid transparent;
      color: $text--white;
    }
  }
}

.nav__menu.active {
  display: flex;
}
